#operation_certificates_new
  .row
    .col-md-8
      %h4
        %i{class: 'fa fa-gift'}
        &nbsp;
        New Gift Certificate
    .col-md-4
      .pull-right
        = link_to certificates_path, :class => 'save btn btn-flat' do
          %i.fa.fa-save
          &nbsp;
          Save
        = link_to certificates_path, :class => 'btn btn-flat white' do
          %i.fa.fa-ban
          &nbsp;
          Cancel
  %hr
  .row
    .col-md-12
      = render :partial => 'form', :locals => {:certificate => @certificate, :url => certificates_path}