#main-stats {
  background-color: #fdfdfd;
  border-bottom: 1px solid #efeef3; 
}

#main-stats .stats-row {
  box-shadow: inset -1px 0px 5px 2px #f9f9f9;
  margin: 0; 
}

#main-stats .stat {
  text-align: right;
  padding: 25px 0px 30px 0px;
  border-right: 1px solid #e8e9ee;
  position: relative;
  box-shadow: 1px 0px 0px 0px white; 
}

#main-stats .stat.last {
  border-right: 0px; 
}

#main-stats .stat .data {
  color: #29323a;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding-right: 50px; 
}

#main-stats .stat .data .number {
  color: #32a0ee;
  font-size: 25px;
  margin-right: 15px; 
}
      
#main-stats .stat .date {
  color: #b4b8bb;
  font-weight: lighter;
  font-family: 'Lato', 'Open Sans';
  font-style: italic;
  font-size: 13px;
  position: absolute;
  right: 50px; 
}
      
.chart-container {
  display: none;
  width: 100%;
  height: 250px;
  margin-top: 65px; 
}

.chart-spinner {
  height: 250px;
  line-height: 250px;
  text-align: center;
}

.chart-spinner i {
  font-size: 48px;
}

.chart-control .btn-group {
  margin-left: 10px;
}

.legendLabel {
  font-size: 12px;
  font-family: "Open Sans", Arial;
  color: #9da3a9; 
}