#inventory_inventories_edit
  .row
    .col-md-8
      %h4
        %i{class: 'fa fa-archive'}
        &nbsp;
        Edit Inventory
    .col-md-4
      .pull-right
        = link_to inventory_path(@inventory), :class => 'save btn btn-flat' do
          %i.fa.fa-save
          &nbsp;
          Save
        = link_to inventories_path, :class => 'btn btn-flat white' do
          %i.fa.fa-ban
          &nbsp;
          Cancel
  %hr
  .row
    .col-md-12
      = render :partial => 'form', :locals => {:inventory => @inventory, :url => inventory_path(@inventory)}