#inventory_units_edit
  .row
    .col-md-12
      .row
        .col-md-8
          %h4
            %i{class: 'fa fa-tag'}
            &nbsp;
            Edit Unit
        .col-md-4
          .pull-right
            = link_to unit_path(@unit), :class => 'save btn btn-flat' do
              %i.fa.fa-save
              &nbsp;
              Save
            = link_to units_path, :class => 'btn btn-flat white' do
              %i.fa.fa-ban
              &nbsp;
              Cancel
      %hr
    .col-md-12
      = render :partial => 'form', :locals => {:unit => @unit, :url => unit_path(@unit)}