#tills_edit
  .row
    .col-md-8
      %h4
        %i{class: 'fa fa-money'}
        &nbsp;
        New Till
    .col-md-4
      .pull-right
        = link_to tills_path, :class => 'save btn btn-flat' do
          %i.fa.fa-save
          &nbsp;
          Save
        = link_to tills_path, :class => 'btn btn-flat white' do
          %i.fa.fa-ban
          &nbsp;
          Cancel
  %hr
  .row
    .col-md-12
      = render :partial => 'form', :locals => {:till => @till, :url => tills_path}