- [:notice, :error, :alert].each do |level|
  - unless flash[level].blank?
    %div{:class => "alert #{flash_class(level)}"}
      %a{:class => "close", :href => "#", :'data-dismiss' => "alert"} &times;
      = flash[level]