{{#modal-dialog title="Flag Timecard" confirm="Save" close="closeModal" accept="flag"}}
  <label for="note" class="control-label">Please enter a reason for flagging this timecard:</label>
  {{textarea id="note" class="form-control" valueBinding="note" rows="5"}}
{{/modal-dialog}}