#operation_sales_print
  .row
    .col-md-8
      %h4
        %i{class: 'fa fa-credit-card'}
        &nbsp;
        Print Sale
    .col-md-4
      .pull-right
        = link_to '#print', :'data-url' => template_sale_path(@sale, :print => true), :class => 'print btn btn-flat' do
          %i.fa.fa-print
          &nbsp;
          Print
  %hr
  .row
    .col-md-12
      = select_tag 'template', options_from_collection_for_select(@templates, :id, :name), {:prompt => 'Default', :class => 'template form-control'}
  %hr
  .row
    .col-md-12
      %iframe{:src => template_sale_path(@sale), :'data-url' => template_sale_path(@sale), :seamless => true}
  %hr