%span.state_container{:'data-url' => state_customers_path, :'data-selected' => selected, :'data-index' => index}
  - country = Carmen::Country.coded(country)
  - if country.nil?
    %em Please select a country below
  - elsif country.subregions?
    = select_tag "customer[addresses_attributes][#{index}][state]", region_options_for_select(country.subregions, selected), :class => 'form-control'
  - else
    = text_field_tag "customer[addresses_attributes][#{index}][state]", :class => 'form-control'