{{#modal-dialog title="Configure Hardware For Till" confirm="Done" close="closeModal"}}
  <p class="center">Scan code below on hardware device to configure</p>
  <div class="qr-code-wrapper">
    {{qr-code metadata=metadata class="qr-code-center"}}
  </div>
  <div class="clearfix"></div>
{{/modal-dialog}}