#adjustments_new
  .row
    .col-md-8
      %h4
        %i{class: 'fa fa-cogs'}
        &nbsp;
        New Adjustment
    .col-md-4
      .pull-right
        = link_to till_adjustments_path, :class => 'save btn btn-flat' do
          %i.fa.fa-save
          &nbsp;
          Save
        = link_to till_adjustments_path, :class => 'btn btn-flat white' do
          %i.fa.fa-ban
          &nbsp;
          Cancel
  %hr
  .row
    .col-md-12
      = render :partial => 'form', :locals => {:adjustment => @adjustment, :url => till_adjustments_path}