#reports_new
  .row
    .col-md-8
      %h4
        %i{class: 'fa fa-bar-chart-o'}
        &nbsp;
        New Report
    .col-md-4
      .pull-right
        = link_to reports_path, :class => 'save btn btn-flat' do
          %i.fa.fa-save
          &nbsp;
          Save
        = link_to reports_path, :class => 'btn btn-flat white' do
          %i.fa.fa-ban
          &nbsp;
          Cancel
  %hr
  .row
    .col-md-12
      = render :partial => 'form', :locals => {:report => @report, :url => reports_path}